@page
@model AutoCar.Pages.Cars.IndexModel
@{
    ViewData["Title"] = "Автомобили";
}

<div class="text-center">
    <h2 class="display-3">@ViewData["Title"]</h2>
    <form method="get" asp-page="New">
        <input class="btn btn-primary" type="submit" value="Добавить автомобиль">
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>Номер</th>
            <th>Бренд</th>
            <th>Год выпуска</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td>@car.Number</td>
                <td>@car.Brand</td>
                <td>@car.ReleaseYear</td>
            </tr>
        }
        </tbody>
    </table>
</div>