@page
@model NewContractModel
@{
    ViewData["Title"] ="Новый контракт";
}
<div class="text-center">
    <h2 class="display-3">@ViewData["Title"]</h2>
    @foreach (var message in Model.ValidationMessages)
    {
        <h4 class="alert-danger">@message</h4>   
    }
    <form method="post" asp-antiforgery="true">
        <div class="mb-3">
            <label asp-for="Contract.ClientId" class="form-label">ID клиента</label><br/>
            <input type="number" asp-for="Contract.ClientId" class="form-control-sm"/>
        </div>
        <div class="mb-3">
            <label asp-for="Contract.CarNumber" class="form-label">Номер автомобиля</label><br/>
            <input type="text" asp-for="Contract.CarNumber" class="form-control-sm"/>
        </div>
        <div class="mb-3">
            <label asp-for="Contract.SeatId" class="form-label">Номер места</label><br/>
            <input type="number" asp-for="Contract.SeatId" class="form-control-sm"/>
        </div>
        <input type="submit" class="btn btn-primary" value="Сохранить"/>
    </form>
</div>