@page "{id}"
@model EditModel
@{
    ViewData["Title"] ="Редактировать клиента";
}
<div class="text-center">
    <h2 class="display-3">Редактирование клиента</h2>
    <form method="post" asp-antiforgery="false">
        <p>
            <label asp-for="Client.FirstName">Имя</label><br/>
            <input type="text" asp-for="Client.FirstName"/>
        </p>
        <p>
            <label asp-for="Client.LastName">Фамилия</label><br/>
            <input type="text" asp-for="Client.LastName"/>
        </p>
        <p>
            <label asp-for="Client.Patronymic">Отчество</label><br/>
            <input type="text" asp-for="Client.Patronymic"/>
        </p>
        <p>
            <label asp-for="Client.BirthDate">Дата рождения</label><br/>
            <input type="date" min="@Model.GetMinBirthDateStrig()" max="@Model.GetMaxBirthDateString()" asp-for="Client.BirthDate"/>
        </p>
        <p>
            <label asp-for="Client.PhoneNumber">Номер телефона</label><br/>
            <input type="tel" asp-for="Client.PhoneNumber"/>
            </p>
    </form>
</div>